# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig
# Created by https://www.toptal.com/developers/gitignore/api/c++,platformio
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,platformio

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

# End of https://www.toptal.com/developers/gitignore/api/c++,platformio

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)
config.h
.vscode
.DS_Store
